# Top-level EditorConfig file
root = true

# Shell script-specific settings
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
function_next_line = false
switch_case_indent = true
space_redirects = false
binary_next_line = false
